body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#map { height: 70rem;
    width: 90%;
    margin: 0;}